.otpf-w {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--danger-color);
}

.otpf-w div {
  padding: 20px;

  width: 50%;
}

.otpf-w div p {
  font-size: 29px;
  color: #fff;
  text-align: center;
  letter-spacing: 1.2px;
  font-weight: bold;
}
